<footer>
    <ul class="bullet-list">
        <li class="bullet-list-item">
            <a href="mailto:dhruvadevaraaj@gmail.com" class="bullet-list-link">dhruvadevaraaj@gmail.com</a>
        </li>
        <li class="bullet-list-item">
            <a href="https://github.com/dhruva36" target="_blank" class="bullet-list-link">GitHub</a>
        </li>
        <li class="bullet-list-item">
            <a href="https://linkedin.com/in/dhruvdev" target="_blank" class="bullet-list-link">LinkedIn</a>
        </li>
    </ul>
</footer>
