<header class="header">
    <div class="container">
        <a href="/" class="header-name-link">
            <h1 class="header-name">Dhruva Devaraaj</h1>
        </a>
        <div class="header-nav">
            <a href="/#musings" class="header-nav-link">Musings</a>
            <div class="toggle-switch">
                <input type="checkbox" id="color-mode" class="toggle-checkbox">
                <label for="color-mode" class="toggle-label"></label>
            </div>
        </div>
    </div>
</header>
